// ######################################
// VARIABLES
// ######################################

//TYPE
$fontstack: serif;

//COLOR
$blue: blue;
$tan: tan;
$grey: grey;
$gray: $grey; // b/c somtimes I'm stupid

// ######################################
// MIX-INS
// ######################################


// ######################################
// BASE
// ######################################

body{
	background-color:$tan;
}



// ######################################
// INTRO SPLASH
// ######################################






@media all and (max-width:767px){
	
}