<div class='eastland-button-wrapper'>
    <a href="index.html" class='eastland-button{% if active_page == "novel" %} active{% endif %}'>Story</a>
    <a href="eastland-photos.html" class='eastland-button{% if active_page == "photos" %} active{% endif %}'>Photos</a>
    <!-- <a href="diagrams.html" class='eastland-button{% if active_page == "graphics" %} active{% endif %}'>Diagrams</a> -->
    <a href="about.html" class='eastland-button{% if active_page == "about" %} active{% endif %}'>About</a>
</div>