{% extends "_base.html" %}

{% macro breaker(options) %}
<hr class='breaker {{ options }}'>
{% endmacro%}

{% macro footnote(number) %}
<sup class="footnote">{{ number }}</sup>
{% endmacro%}


{% block content %}

{% include "_loading.html" %}

{% include "_ad-leaderboard.html" %}


<div id="graphics-splash" class="splash-img-wrapper splash-text-wrapper">
    <div style="width:100%;height: 100%;"  class="imgLiquidFill">
        <h1 class="headline" itemprop="headline">{{ main_headline|process_text() }}</h1>
        <h2 class="dek">About this project</h2>
        <img class='red' src="img/newspapers/intro-red-4.jpg" />
    </div>
</div>
<section id="intro" class="intro-outer">
    <div class='container'>
        <div class="intro-inner">

            <div class="row">
                <div class="col-md-12">
                    {% include "_social_row.html" %}
                </div>
            </div>
            {{ breaker("skinny") }}
<!--             <div class='eastland-button-wrapper'>
                <a href="index.html" class='eastland-button'>Story</a>
                <a href="eastland-photos.html" class='eastland-button'>Photos</a>
                <a href="diagrams.html" class='eastland-button'>Diagrams</a>
                <a href="about.html" class='eastland-button active'>About</a>
            </div> -->
            {% set active_page = "about" %}
            {% include "_buttons.html" %}
            {{ breaker("skinny") }}
        </div>
    </div>
</section>
<section id="about">
    <div class='container'>
        <h2 class='chapter'>About this story</h2>

        <p>As I began researching the Eastland tragedy with the intention of creating a graphic essay, everything I thought I knew about the event proved no substitute for the real story. And what a story—filled with tragedy, near-misses, and the horror faced by responders and divers as desperate people filled the river and the dead and dying filled the flooded compartments of the overturned ship.</p>

        <p>Jay Bonansinga's wonderful book, <a href="http://www.jaybonansinga.com/eastland-disaster" class="xout" target="_blank">"The Sinking of the Eastland"</a> was a logical starting point for organizing and sketching the illustrations. George W. Hilton's book, <a href="#" class="xout" target="_blank">"Eastland, Legacy of the Titanic"</a> became my source for hard data about the ship and the circumstances leading up to the tragedy. Underpinning everything was the work of the reporters and photographers of the Chicago Tribune on that damp, drizzling July afternoon in 1915, organizing the first draft of history for the rest of us.</p>

        <p>I decided to tell the story on two tracks The first is a general account of the disaster. The other is the experiece the Aanstad family: Marianne, her daughters Borghild (Bobbie) and Solveg, and Marianne's brother Olaf Ness. Their story was an inspiration to me. Unfortunately, Olaf's heroic rescue of other women trapped in the same water-filled compartment didn't make the final cut. Neither did a look at 13-year-old Bobbie Aanstad's remarkable resilience during and after the tragedy. The Eastland Disaster Historical Society offers <a href="#" class="xout" target="_blank">a good look</a> at these events</p>

        <p class='xout'>Many of the details of the Eastland disaster have been lost to time. Accounts and news reports in the immediate aftermath of the event — many by this newspaper — were conflicted and, at times, not accurate. From storyboarding to the final illustrations, I have made every effort to be as faithful as possible to what has been verified or reasonably believed to be true. The scale of everything I've drawn is estimated and the visual depictions of most characters are not based on real people on the boat. The Aanstads, however, have been drawn to resemble their group portrait.</p>

        <p>I could not have anticipated how deeply this story has affected me. Sadness and sorrow frequently ambushed me during research and even as I was drawing. I rarely walk past the corner of Wacker Drive and Clark Street without being haunted by the tragedy and courage of the Eastland passengers.</p>

        <h2 class='chapter'>About this art</h2>
        <p>The illustrations are pencil on smooth Strathmore 2-ply bristol. Pencils ranged from 3B through 6B, but the 4B did most of the work. I love using pencil because it drops extra steps from the process — a very good thing when you have tight news deadlines — and makes it easier to retain the energy of initial sketches. Caerfully boosting the contrast in Phototshop gives the drawings a brush and ink appearance. </p>

        <p>Images from the disaster are black-and-white, so color additions are low key. Ryan Marx — the web designer and editor of this project — and I looked at the Chicago River for color choices. As everyone who has seen the river knows, it has a green tint  — blame St. Patrick's Day dye? We developed a basic color palette of two blue-greens, two yellow-greens, and gray-brown, used as the background around the illustrations. Choosing a limited palette gave me the freedom to maintain areas of clean white, something of which I am fond. Not every face needed color, buildings could be white and the sky light green. Fun!</p>

        <p>Mid way through the coloring stage, I started to believe the panels needed one more color to tie the illustrations together. Recalling initial brain-storming sessions where one proposal was to create a soft water-stained background, I knew what to do: 'age' the edges of the panels with yellow. Risking a somewhat cliche solution, we are very pleased with the results. </p>
        <p><em>— Rick Tuma</em></p>



    </p>     
</div>
</section>




{% endblock content %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock library_css %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="js/pace.min.js"></script>
<script type="text/javascript" src="js/imgLiquid-min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
{% endblock scripts %}

{# block paywall %}
{{ paywall_stage }}
{% endblock paywall #}

{% block title %}
{{ site_title }}
{% endblock title %}

