{% extends "_base.html" %}


{% macro breaker(options) %}
<hr class='breaker {{ options }}'>
{% endmacro%}

{% macro footnote(number) %}
<sup class="footnote">{{ number }}</sup>
{% endmacro%}


{% block content %}

<!-- {% include "_loading.html" %}
 -->
{% include "_ad-leaderboard.html" %}


<div id="graphics-splash" class="splash-img-wrapper splash-text-wrapper">
    <div style="width:100%;height: 100%;"  class="imgLiquidFill">
        <h1 class="headline" itemprop="headline">{{ main_headline|process_text() }}</h1>
        <h2 class="dek">need a grafx hed</h2>
        <img class='red' src="img/newspapers/intro-red-4.jpg" />
    </div>
</div>
<section id="intro" class="intro-outer">
    <div class='container'>
        <div class="intro-inner">

            <div class="row">
                <div class="col-md-12">
                    {% include "_social_row.html" %}
                </div>
            </div>

            <p class='drop-cap lead'>Need chatter. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea molestiae voluptate alias inventore eum expedita libero eaque, minus tenetur laborum eius animi debitis est perspiciatis sunt fuga, cupiditate, in aliquam!</p>
            {{ breaker("skinny") }}
            {% set active_page = "graphics" %}
            {% include "_buttons.html" %}
            {{ breaker("skinny") }}
        </div>
    </div>
</section>
<section id="graphics">
    <div class='container'>
        <section id="map">
            <h2 class='chapter'>Where the Eastland was parked</h2>
            <p class='drop-cap'>In 1915, the Chicago River was a parking lot of ships. The Eastland was just one of more than a dozen other vessels in that waterway.</p>
            <div class='row'>
                <img class="drawn-panel" src="river-map-diagramCY.jpg" alt="Hand-drawn map of the Chicago River"/>
            </div>
        </section>
        {{ breaker() }}
        <section id="roll">
            <h2 class='chapter'>How the Eastland rolled</h2>
            <p class='drop-cap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sit tempora enim dolores voluptatem maiores amet est ex aspernatur repellendus autem, officiis odit culpa eligendi rerum similique esse fugiat assumenda.</p>
            <div class='row'>
                <img class="drawn-panel" src="river-map-diagramCY.jpg" alt="Hand-drawn map of the Chicago River"/>
            </div>
        </section>
        {{ breaker() }}
        <section id="raising">
            <h2 class='chapter'>Raising the fallen ship</h2>
            <p class='drop-cap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores modi saepe eos ex illum, aspernatur sit ad quam numquam molestias, culpa doloremque rem ipsum ab tempora. Obcaecati nemo accusamus iure.</p>
            <div class='row'>
                <img class="drawn-panel" src="raising-eastland-cartoonCY.jpg" alt="Vintage clipping from the Chicago Daily Tribune"/>
            </div>
        </section>
        {{ breaker() }}
        <section id="victims">
            <h2 class='chapter'>Counting the victims</h2>
            <p class='drop-cap'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores modi saepe eos ex illum, aspernatur sit ad quam numquam molestias, culpa doloremque rem ipsum ab tempora. Obcaecati nemo accusamus iure.</p>
  <h3 class='chapter'>By age</h3>
<p class='text-center'><em>Approximate</em></p>


<h3 class="chapter">By nationality</h3>
<table class='nationality-dead'>
    <thead></thead>
    <tbody>
        <tr>
            <td class='name'>German</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:100%'>
                    <small>212</small>
                </div>
                <small>212</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Bohemian</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:69.811320754717%'>
                    <small>148</small>
                </div>
                <small>148</small>
            </td>

        </tr>
        <tr>
            <td class='name'>American</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:55.188679245283%'>
                    <small>117</small>
                </div>
                <small>117</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Polish</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:37.7358490566038%'>
                    <small>80</small>
                </div>
                <small>80</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Austrian</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:23.1132075471698%'>
                    <small>49</small>
                </div>
                <small>49</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Swedish</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:19.3396226415094%'>
                    <small>41</small>
                </div>
                <small>41</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Irish</td>
            <td class='bar-wrapper inside'>
                <div class='bar' style='width:18.8679245283019%'>
                    <small>40</small>
                </div>
                <small>40</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Not known</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:11.3207547169811%'>
                    <small>24</small>
                </div>
                <small>24</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Norwegian</td>
            <td class='bar-wrapper  outside'>
                <div class='bar' style='width:8.0188679245283%'>
                    <small>17</small>
                </div>
                <small>17</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Italian</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:7.54716981132075%'>
                    <small>16</small>
                </div>
                <small>16</small>
            </td>

        </tr>
        <tr>
            <td class='name'>English</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:6.60377358490566%'>
                    <small>14</small>
                </div>
                <small>14</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Danish</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:6.13207547169811%'>
                    <small>13</small>
                </div>
                <small>13</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Russian</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:6.13207547169811%'>
                    <small>13</small>
                </div>
                <small>13</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Hungarian</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:3.77358490566038%'>
                    <small>8</small>
                </div>
                <small>8</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Scotch</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:3.30188679245283%'>
                    <small>7</small>
                </div>
                <small>7</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Canadian</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:2.35849056603774%'>
                    <small>5</small>
                </div>
                <small>5</small>
            </td>

        </tr>
        <tr>
            <td class='name'>French</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:0.943396226415094%'>
                    <small>2</small>
                </div>
                <small>2</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Hollanders</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:0.943396226415094%'>
                    <small>2</small>
                </div>
                <small>2</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Swiss</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:0.943396226415094%'>
                    <small>2</small>
                </div>
                <small>2</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Greek</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:0.471698113207547%'>
                    <small>1</small>
                </div>
                <small>1</small>
            </td>

        </tr>
        <tr>
            <td class='name'>Lithuanian</td>
            <td class='bar-wrapper outside'>
                <div class='bar' style='width:0.471698113207547%'>
                    <small>1</small>
                </div>
                <small>1</small>
            </td>

        </tr>
    </tbody>
</table>

        </section>
        {{ breaker() }}
    </div>
</section>




{% endblock content %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock library_css %}


{% block scripts %}
{{ super() }}
<!-- <script type="text/javascript" src="js/pace.min.js"></script>
 --><script type="text/javascript" src="js/imgLiquid-min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
{% endblock scripts %}

{% block paywall %}
    {{ paywall_prod }}
{% endblock paywall %}

{% block title %}
{{ site_title }}
{% endblock title %}

