{% extends "_base.html" %}


{% macro graphictext(id, border_caption, classes, ident) %}
{#######################################}
{# MACRO GOES HERE #}
{#######################################}
{% endmacro %}

{% macro breaker() %}
<hr>
{% endmacro%}

{% macro footnote(number) %}
<sup class="footnote">{{ number }}</sup>
{% endmacro%}


{% block content %}
{% include "_loading.html" %}

{% include "_eastland-clock-bar.html" %}
{% include "_ad-leaderboard.html" %}


{% include "_splash.html" %}
<section id="intro" class="intro-outer">
    <div class='container'>
        <div class="intro-inner">

            <div class="row">
                <div class="col-md-12">
                    {% include "_social_row.html" %}
                    <h1 ></h1>

                </div>
            </div>
            <p class='drop-cap lead'>Western Electric employees gathered at the Chicago River on South Water Street — later renamed Wacker Drive — to board one of three steamships reserved to take them across Lake Michigan to the annual company picnic  in Michigan City, Ind.{{ footnote("1") }} Those boarding the S.S. Eastland soon would find themselves in an overturned ship fighting for their lives in polluted river water. In just minutes, 844 of the estimated 2,500 people on board{{ footnote("2") }} would lose the fight, including 22 entire families and four members of the Eastland’s crew.</p>
            <p class='lead'>This non-fiction illustrated narrative strives to recreate the story of those involved in the disaster through eyewitness accounts, oral histories, news reports and public records.</p>
            <div class="byline">
                <p class="author">By <a itemprop="author" href="mailto:rtuma@chicagotribune.com">Rick Tuma</a> and <a itemprop="author" href="www.twitter.com/ryanmarx">Ryan Marx</a></p>
                <p class="organization" itemprop="publisher">Chicago Tribune</p>
                <p class="pub-date" itemprop="datePublished">DATE DATE DATE</p>
          </div>
      </div>
  </div>
</section>




<div class="container">


    <section id="chapter1">
        <h2 class='chapter'>Watchers on the dock</h2>
        <div class="row">
            <div class="col-md-6">
                <img class="drawn-panel" src="img/01-eastland-final.jpg" />
            </div>       
            <div class="col-md-6">
                <img class="drawn-panel" src="img/02-03-eastland-final.jpg" />
            </div>                
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="drawn-panel" src="img/04-eastland-final.jpg" />
            </div>       
            <div class="col-md-6">
                <img class="drawn-panel" src="img/05-eastland-final.jpg" />
            </div>                
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="drawn-panel" src="img/06-eastland-final.jpg" />
                <img class="drawn-panel" src="img/07-08-eastland-final.jpg" />
                <img class="drawn-panel" src="img/09-10-eastland-final.jpg" />
            </div>     
        </div>
        {{ breaker() }}
        <h2 class='chapter'>Aboard the ship</h2>
        <div class="row">
            <div class="col-md-12">
                <img class="drawn-panel" src="img/12-13-eastland-final.jpg" />
            </div>       
        </div>
        <div class="row">
         <div class="col-md-12">
            <img class="drawn-panel" src="img/14-15-eastland-final.jpg" />
        </div> 
    </div>
    <div class="row">
     <div class="col-md-12">
        <img class="drawn-panel" src="img/16-eastland-final.jpg" />
    </div> 
</div>
{{ breaker() }}
<h2 class="chapter">Shifting balance</h2>
<p><strong>7:00 A.M.: </strong>As the ship nears capacity, it begins to shift with the movement of the crowd. Passengers congregate along the dockside railings waving to friends while the ship leans farther and farther.</p>
<div class="row">
 <div class="col-md-12">
    <img class="drawn-panel" src="img/17-eastland-final.jpg" />
</div> 
</div>
<div class="row">
 <div class="col-md-12">
    <img class="drawn-panel" src="img/18-eastland-final.jpg" />
</div> 
</div>
<div class="row">
 <div class="col-md-12">
    <img class="drawn-panel" src="img/19-eastland-final.jpg" />
</div> 
</div>
<div class="row">
    <div class="col-md-12">
        <img class="drawn-panel" src="img/20-eastland-final.jpg" />
    </div>       
</div>

<div class="row">
    <div class="col-md-6">
        <img class="drawn-panel" src="img/21-eastland-final.jpg" />
    </div>  
</div>

<div class="row">
    <div class="col-md-12">
        <img class="drawn-panel" src="img/22-eastland-final.jpg" />
    </div>  
</div>

<div class="row">
    <div class="col-md-12">
        <img class="drawn-panel" src="img/23-24-eastland-final.jpg" />
    </div>
    <img class="drawn-panel" src="img/25-eastland-final.jpg" />
    <img class="drawn-panel" src="img/26-eastland-final.jpg" />
    <img class="drawn-panel" src="img/27-eastland-final.jpg" />
    <img class="drawn-panel" src="img/28-eastland-final.jpg" />
    <img class="drawn-panel" src="img/29-eastland-final.jpg" />
    <img class="drawn-panel" src="img/30-eastland-final.jpg" />
    <img class="drawn-panel" src="img/31-eastland-final.jpg" />
    <img class="drawn-panel" src="img/32-eastland-final.jpg" />
    <img class="drawn-panel" src="img/33-eastland-final.jpg" />
    <img class="drawn-panel" src="img/34-eastland-final.jpg" />
    <img class="drawn-panel" src="img/35-eastland-final.jpg" />

    <div class="row">

    </div>
    <div class="row">

    </div>

    <div class="row">

    </div>




</section>



</div>

{% endblock content %}

{% block library_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock library_css %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="js/imgLiquid-min.js"></script>
<script type="text/javascript" src="js/jquery.unveil.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
{% endblock scripts %}

{% block title %}
100 years since the Eastland -- Chicago Tribune
{% endblock title %}

