{% extends "_base.html" %}


{% macro graphictext(id, border_caption, classes, ident) %}
{#######################################}
{# MACRO GOES HERE #}
{#######################################}
{% endmacro %}

{% macro breaker(options) %}
<hr class='breaker {{ options }}'>
{% endmacro%}

{% macro footnote(number) %}
<sup class="footnote">{{ number }}</sup>
{% endmacro%}


{% block content %}
{% include "_loading.html" %}

{% include "_eastland-clock-bar.html" %}
{% include "_ad-leaderboard.html" %}


{% include "_splash.html" %}
<section id="intro" class="intro-outer">
    <div class='container'>
        <div class="intro-inner">

            <div class="row">
                <div class="col-md-12">
                    {% include "_social_row.html" %}
                </div>
            </div>
            {{ main_chatter|process_text() }}
            {{ breaker("skinny") }}
            <div class='eastland-button-wrapper'>
                <a href="index.html" class='eastland-button active'>The Story</a>
                <a href="eastland-photos.html" class='eastland-button'>The Photos</a>
            </div>
            {{ breaker("skinny") }}
            <div class="byline">
                <p class="author">By <a itemprop="author" href="mailto:rtuma@chicagotribune.com">Rick Tuma</a> and <a itemprop="author" href="www.twitter.com/ryanmarx">Ryan Marx</a></p>
                <p class="organization" itemprop="publisher">Chicago Tribune</p>
                <p class="pub-date" itemprop="datePublished">{{ pub_date }}</p>
            </div>

        </div>
    </div>
</section>




<div id ="chapter1" class="container">


    <h2 class='chapter'>{{ chapter1_hede }}</h2>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img class="drawn-panel lazy" data-original="img/std/01-eastland-CfinalY.jpg" />
            <img class="drawn-panel lazy" data-original="img/std/02-03-eastland-CfinalY.jpg" />
        </div>       
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="drawn-panel lazy" data-original="img/std/04-eastland-CfinalY.jpg" />
        </div>       
        <div class="col-md-6">
            <img class="drawn-panel lazy" data-original="img/std/05-eastland-CfinalY.jpg" />
        </div>                
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="drawn-panel lazy" data-original="img/std/06-eastland-CfinalY.jpg" />
            <img class="drawn-panel lazy" data-original="img/std/07-08-eastland-CfinalY.jpg" />
            <img class="drawn-panel lazy" data-original="img/std/09-10-11-eastland-CfinalY.jpg" />
        </div>     
    </div>
    {{ breaker() }}
    <h2 class='chapter'>{{ chapter2_hede }}</h2>
    <p class="drop-cap">{{ chapter2_chatter|process_text() }}</p>
    <div class="row">
        <div class="col-md-12">
            <img class="drawn-panel lazy" data-original="img/std/12-13-eastland-CfinalY.jpg" />
        </div>       
    </div>
    <div class="row">
     <div class="col-md-12">
        <img class="drawn-panel lazy" data-original="img/std/14-15-eastland-CfinalsY.jpg" />
    </div> 
</div>
<div class="row">
 <div class="col-md-12">
    <img class="drawn-panel lazy" data-original="img/std/16-eastland-CfinalY.jpg" />
</div> 
</div>
{{ breaker() }}
<h2 class='chapter'>{{ chapter3_hede }}</h2>
<p><strong>7:00 A.M.: </strong></p>
<p class="drop-cap">{{ chapter3_chatter|process_text() }}</p>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img class="drawn-panel lazy" data-original="img/std/17-eastland-CfinalY.jpg" />
    </div> 
</div>
</div>
<div class='full-width'>
    <div class='row'>
        <div class="col-md-4">
            <img class="drawn-panel lazy" data-original="img/std/18-eastland-CfinalY.jpg" />
        </div> 
        <div class="col-md-4">
            <img class="drawn-panel lazy" data-original="img/std/19-eastland-CfinalY.jpg" />
        </div> 
        <div class="col-md-4">
            <img class="drawn-panel lazy" data-original="img/std/20-eastland-CfinalY.jpg" />
        </div>       
    </div>
</div>
<div class='container '>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img class="drawn-panel lazy" data-original="img/std/21-eastland-CfinalY.jpg" />
            <img class="drawn-panel lazy" data-original="img/std/22-eastland-CfinalY.jpg" />
        </div>  
    </div>
    <h4>{{ chapter4_hede }}</h4>
    <p class="drop-cap">{{ chapter4_chatter}}</p>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img class="drawn-panel lazy" data-original="img/std/23-eastland-CfinalY.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img class="drawn-panel lazy" data-original="img/std/24-eastland-CfinalY.jpg" />
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="drawn-panel lazy" data-original="img/std/25-eastland-CfinalY.jpg" />
                <img class="drawn-panel lazy" data-original="img/std/26-eastland-CfinalY.jpg" />
                <img class="drawn-panel lazy" data-original="img/std/27-eastland-CfinalY.jpg" />
                <img class="drawn-panel lazy" data-original="img/std/28-eastland-CfinalY.jpg" />
                
            </div>
        </div>
    </div>
</div>
<div class="full-width">
    <img class="drawn-panel lazy" data-original="img/std/29-eastland-CfinalY.jpg" />
</div>
<div class='container'>
    {{ breaker() }}
    <h2 class='chapter'>{{ chapter5_hede }}</h2>
    <p class="drop-cap">{{ chapter5_chatter_01|process_text() }}{{ footnote(8) }}</p>
    <img class="drawn-panel lazy" data-original="img/std/30-eastland-CfinalY.jpg" />

    <p>{{ chapter5_chatter_02|process_text() }}{{ footnote(9) }}</p> 
    <img class="drawn-panel lazy" data-original="img/std/31-eastland-CfinalY.jpg" />
    <h2 class='chapter'>{{ chapter6_hede }}</h2>
    <p class="drop-cap">{{ chapter6_chatter_01|process_text() }}</p>
    <img class="drawn-panel lazy" data-original="img/std/32-eastland-CfinalY.jpg" />
    <p class="drop-cap">{{ chapter6_chatter_02|process_text() }}</p>
    <img class="drawn-panel lazy" data-original="img/std/33-eastland-CfinalY.jpg" />
    <p class="drop-cap">{{ chapter6_chatter_03|process_text() }}</p>
    <img class="drawn-panel lazy" data-original="img/std/34-eastland-CfinalY.jpg" />
    <img class="drawn-panel lazy" data-original="img/std/35-eastland-CfinalY.jpg" />
    {{ breaker() }}
    <h2 class='chapter'>{{ chapter7_hede }}</h2>
    <p class="drop-cap">{{ chapter7_chatter_01|process_text() }}{{ footnote(8) }}</p>

    <img class="drawn-panel lazy" data-original="img/std/36-eastland-CfinalY.jpg" />

    <p class="drop-cap">{{ chapter7_chatter_02|process_text() }}{{ footnote(10) }}</p>
    <p>Wednesday, July 28, 1915 was the day that the majority of the victims were laid to rest.{{ footnote("needone")}}</p>
    <img class="drawn-panel lazy" data-original="img/std/37a-eastland-CfinalY.jpg" />

    {{ breaker() }}
    <h2 class='chapter'>{{ chapter8_hede }}</h2>
    <p class="drop-cap">{{ chapter8_chatter|process_text() }}{{ footnote(12) }}</p>
    <img class="drawn-panel lazy" data-original="img/std/37b-eastland-CfinalY.jpg" />
    {{ breaker() }}
    {% include "_footnotes.html" %}



</div>

{% endblock content %}

{% block library_css %}
{{ super() }}
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/loading.css">
--><link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock library_css %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="js/pace.min.js"></script>

<script type="text/javascript" src="js/imgLiquid-min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="js/inview.js"></script>
<script type="text/javascript" src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
{% endblock scripts %}

{% block paywall %}
    {% if PREVIEW_SERVER %}
        {{ paywall_stage }}
    {% else %}
        {{ paywall_prod }}
    {% endif %}
{% endblock paywall %}

{% block title %}
100 years since the Eastland -- Chicago Tribune
{% endblock title %}

